*{
    font-family: sans-serif;
    line-height:1.25em;
}
a{
    color:blue;
}
a:hover{
    color:red;
}
body{
    color: black;
    font-size: 1.25em;
    font-weight: 400;
}
.center{
    text-align:center;
}
code{
    font-family:"Courier New",Courier,monospace;
}
.container{
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
}
.container li{
    line-height: 1.5em;
}
h1,h2,h3,h4,h5{
    font-weight: lighter;
    margin: 0;
    text-align: center;
}
h2,h3,h4,h5{
    color:gray;
}
pre{
    background-color:silver;
    border:1px solid gray;
    border-radius:0.5em;
    padding:0.5em;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    word-break: break-all;       /* Internet Explorer 5.0+ */
}
